@media screen and (min-width: 375px) {
  .cards-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 22%;
    align-content: center;
  }
  .card-item {
    margin: 1em;
    width: 350px;
    height: auto;
    border: 1px solid darkgray;
    border-radius: 10px;
  }

  .card-img {
    height: 100%;
    min-width: 320px;
    min-height: 250px;
  }
}
@media screen and (min-width: 768px) {
  .cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px 10px;
    grid-auto-rows: minmax(80px, auto);
    position: absolute;
    top: 15%;
  }
  .card-item {
    margin: 1em;
    width: 350px;
    height: auto;
  }
  .card-img {
    height: 70%;
  }
}

@media screen and (min-width: 1024px) {
  .cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px 150px;
    grid-auto-rows: minmax(80px, auto);
    position: absolute;
    top: 15%;
  }
  .card-item {
    margin: 1em;
    width: 450px;
    height: auto;
  }
  .card-img {
    height: 70%;
  }
}
