@media screen and (min-width: 375px) {
  body {
    scroll-behavior: auto;
    overflow-y: auto!important;
  }

  h3,
  p {
    color: var(--bg-darkblue);
  }

  .prices_services_page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
 
  .prices-page-title {
    font-family: "Libre Baskerville", serif;
    text-transform: uppercase;
    margin-top: 23%;
    color: white;
    z-index: 2;
  }

  .up {
    width: 60px;
    height: 60px;
    padding: 10px;
    border-radius: 50%;
    background-color: var(--bg-btn);
    color: white;
    z-index: 15;
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
  }

  #prices-footer {

    margin-top: 5em;
    margin-bottom: 1em;
    width: 300px;
  }


}

@media screen and (min-width: 768px) {
  .prices-page-title {
    margin-top: 14%;
   
  }
  .footer-line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color:  rgba(67, 67, 89, 0.892);
    height: 2.2em;
    padding: 5px 0;
    
  }
 
 } 
@media screen and (min-width: 1024px) {
  body {
    scroll-behavior: auto;
    overflow-y: hidden!important;
  }
  #prices-footer {
    margin-top: 55em;
    margin-bottom: 1em;
    width: 300px;
  }
  .prices-page-title {
    margin-top: 14%;
   
  }
}
@media screen and (min-width: 1280px) {
  #prices-footer {
  margin-top: 10%;
    margin-bottom: 1em;;
    
  }
  .prices-page-title {
    margin-top: 7%;
   
  }
  
}
