@media screen and (min-width: 375px) {
  body {
    scroll-behavior: auto;
    overflow-y: auto!important;
  }

  h3,
  p {
    color: var(--bg-darkblue);
  }
  .prices_services_page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
 


  .prices-page-title {
    font-family: "Libre Baskerville", serif;
    text-transform: uppercase;
    position: absolute;
    top: 13%;
  }
  .up {
    width: 60px;
    height: 60px;
    padding: 10px;
    border-radius: 50%;
    background-color: var(--bg-btn);
    color: white;
    z-index: 15;
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
  }
  #prices-footer {
    position: absolute;
    bottom: -135em;
    margin-top: 3em;
    margin-bottom: 1em;
    width: 300px;
  }
  #prices_card_footer{
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  body {
    scroll-behavior: auto;
    overflow-y: auto;
  }
  .prices-page-title {
    top: 10%;
  }
  .prices-title {
    font-size: 3em;
  }
  .prices-container {
    border-radius: 10px;
    background-color: transparent;
  }
  
  .footer-line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color:  rgba(67, 67, 89, 0.892);
    height: 2.2em;
    padding: 5px 0;
    
  }
  
  #prices-footer {
    position: absolute;
    bottom: -45em;
    margin-top: 3em;
    margin-bottom: 0;
    width: 100%;
    
   
  }
  .up {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  #prices-footer {
    position: absolute;
    bottom: 0;
  }
}
@media screen and (min-width: 1280px) {
  #prices-footer {
    position: absolute;
    bottom: 0;
    margin-top: 3em;
    margin-bottom: 0;
    
  }
  
}
