@media screen and (min-width: 375px) {
    .web-social-icons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }
      .ws_icons {
        width: 40px;
        height: 40px;
        cursor: pointer;
        background: var(--bg-nav-color);
        color: var(--bg-lightgray);
        border-radius: 50%;
        margin: 1px 50px;
      }
}