@media screen and (min-width: 375px) {
  /* body {
    overflow-y: visible;
    height: auto;
  } */
  .btn_md-lg {
    display: block;
  }
  .btn-category,
  .btn-mobile {
    font-size: 1.3em;
    width: 170px;
    font-weight: 500;
    border-radius: 10px;
    border: 1px solid white;
    z-index: 5;
    margin: 10px;
    cursor: pointer;
    padding: 5px 35px;

    color: var(--color-white);
  }

  .btn-category:hover,
  .btn-mobile:hover {
    background-color: rgb(171, 154, 187);
    color: var(--bg-nav-color);
    border: 1px solid white;
  }

  .img {
    width: 600px;
    height: 400px;
    cursor: pointer;
    padding: 10px;
  }
}
/* ***@media screen and (min-width: 768px) *** */

@media screen and (min-width: 768px) {
  .btn_mobile {
    display: none;
  }
  .category_block {
    height: 100px;
  }

  .btn-category {
    font-size: 1em;
    background-color: var(--bg-nav-color);
    color: var(--color-white);
    border-radius: 10px;
    /* z-index: 5; */
    width: 130px;
    padding: 5px;
    font-weight: 600;
    cursor: pointer;
  }
  .btn-category:hover {
    color: var(--bg-nav-color);
    background-color: var(--color-white);
  }

  .img {
    width: 600px;
    height: 400px;
    cursor: pointer;
    padding: 10px;
  }
}
@media screen and (min-width: 1024px) {
  .btn-category {
    font-size: 1.2em;
    width: 160px;
    cursor: pointer;
    background-color: var(--bg-darkblue);
  }

  .cat-position {
    position: absolute;
    top: 110%;
    left: -8%;
  }
}
