@media screen and (min-width: 375px) {
  .navbar {
    background-color: var(--bg-nav-color);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
  }

  .inline-logo {
    color: var(--color-white);
    justify-self: start;
    margin-left: -18px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    margin-top: -4px;
  }
  .inline-logo {
    position: absolute;
    top: -10px;
    left: 0;
    transform: translate(25%, 50%);
  }

  .nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
    height: 100vh;
    z-index: 10;
  }

  .nav-item {
    position: relative;
    top: -10%;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin-top: -20px;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: -18px;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }
  .icon2 {
    color: var(--color-white);
  }

  .icon1 {
    color: var(--color-white);
    font-size: 2rem;
  }
  .nav-links {
    width: 300px;
  }
  .nav-links:hover {
    background-color: var(--bg-color-main-title);
  }
}

@media screen and (max-width: 960px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: var(--bg-color-menu-active);
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
  }
  .nav-links {
    color: var(--color-white);
    text-decoration: none;
    padding: 0.5rem 1rem;
  }
  .nav-links:hover {
    background-color: var(--bg-links-hover);
    border-radius: 4px;
    transition: all 0.2s ease-out;
  }

  button {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .nav-links-mobile {
    display: none;
  }
  .nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 3em;
    transition: all 0.5s ease;
    margin-left: 2em;
    position: absolute;
    top: 20px;
  }

  .menu-icon {
    display: none;
  }
  .navbar-logo {
    position: absolute;
    top: 5px;
    left: 0;
    transform: translate(25%, 50%);
    z-index: 12;
  }
  .nav-links {
    text-align: center;
    padding: 12px;
    width: 100%;
    display: table;
  }
  .nav-links:hover {
    border-radius: 0;
    padding: 13px;
  }
}
